html {
    font-size: 12px;
}

body {
    font-family: "Diatype", system-ui, sans-serif;
    font-size: var(--fs-base);
}

h2, .button {
    text-transform: uppercase;
    padding: 0.4rem 0.7rem;
    background-color: var(--black);
    color: var(--white);
    width: fit-content;
    border-radius: var(--corner-radius);
    margin-bottom: 1rem;
}

img {
    width: 250px;
}

.uppercase {
    text-transform: uppercase;
}

.big-text {
    font-size: clamp(16px, 8vw, 96px);
    font-weight: bold;
}

section {
    margin: var(--whitespace);
}

@media screen and (width >=600px) {
    html {
        font-size: 18px;
    }
}

.ligne {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > * {
         flex: 1 0 300px;
    }
}

.button {
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
}
.button:hover {
  background-color: #7a7a7a;
}

.centred {
    margin: auto;
}