html {
    font-size: 12px;
}

body {
    font-family: "Diatype", system-ui, sans-serif;
    font-size: var(--fs-base);
}

h2,
.button {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

img {
    width: 250px;
}

.uppercase {
    text-transform: uppercase;
}

.big-text {
    font-size: clamp(16px, 8vw, 96px);
    font-weight: bold;
}

section {
    margin: var(--whitespace);
}

section#introduction, section#key-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1rem;
    min-height: 55vh;
    
    h2 {
        align-self: baseline;
    }
}

@media screen and (width >=600px) {
    html {
        font-size: 18px;
    }
}

.button {
    padding: 0.4rem 0.7rem;
    background-color: var(--black);
    color: var(--white);
    width: fit-content;
    border-radius: var(--corner-radius);
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #7a7a7a;
}

.centred {
    margin: 0 auto;
}