section#hero {
    margin: 0;
    position: relative;
    height: 100vh;
    color: var(--white);

    .hero-content {
        padding: var(--whitespace);
        position: relative;
        z-index: 3;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    #soccer-video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(116, 202, 35, 0.2);
        z-index: 2;
    }
}

section#introduction {

    div {
        margin: 3rem 0;
    }

    p {
        display: block;
        max-width: 50vw;
        font-size: 1.5rem;
    }
}

section#key-numbers {
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        article {
            min-height: 200px;
            padding: 2rem;
            text-align: center;
            aspect-ratio: 1;
            background-color: var(--black);
            color: var(--white);
            flex: 0 0 300px;
            align-content: space-around;

            p,
            h3 {
                display: block;
            }
        }
    }
}

@media screen and (width >=600px) {
    section#hero {
        .hero-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "state state ."
                "bottom-left . bottom-right"
            ;

            #state {
                grid-area: state;
            }

            #made-by {
                grid-area: bottom-left;
                align-self: flex-end;
            }

            #year {
                grid-area: bottom-right;
                text-align: right;
                align-self: flex-end;
            }
        }
    }
}
