@import "reset.css";
@import "theme.css";

img {
    width: 250px;
}


.download-btn {
    display: inline-flex;
    align-items: center;
    gap: 14px;

    background-color: #fe5933; /* Orange du bouton */
    border: none;
    padding: 16px 32px;
    border-radius: 50px;

    font-family: Arial, sans-serif;
    cursor: pointer;

    color: white;
    font-size: 20px;
    font-weight: 700;

    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* Cercle derrière l’icône */
.download-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 46px;
    background-color: #f7d9d2; /* Cercle rose clair */
    border-radius: 50%;
}

/* Icône Phosphor */
.download-btn .icon i {
    font-size: 28px;
    color: #000;
}

.download-btn:hover {
    background-color: #ff6a41;
}

.download-btn:active {
    transform: scale(0.96);
}




