@import "reset.css";

@font-face {
  font-family: "DMSans";
  src: url(../fonts/DMSans.woff2) format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZalandoSansExpanded";
  src: url(../fonts/ZalandoSansExpanded.woff2) format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background-color: #f0e4cc;
}

section.home,
section.intro,
section#teamList,
section.teamNumber,
section.insightsOne,
section.insightsTwo,
section.insightsThree,
section.form {
  height: 100vh;
  padding: 2rem;
}

section.home > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  object-position: 30% center;
}

div#homeTitle {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

div#homeCTA {
  display: flex;
  height: 50vh;
  align-items: center;
}

div#buttonCTA {
  display: flex;
  width: 60vw;
  height: 10vh;
  background-color: #580a97;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
}

div#buttonCTA a {
  font-family: "DMSans";
  color: #f0e4cc;
  text-decoration: none;
  font-size: 2rem;
  margin-inline-end: 1rem;
  font-weight: 800;
  width: 100%;
  height: 100%;
  align-content: center;
  margin-inline-start: 10px;
}

h1 {
  font-family: "ZalandoSansExpanded", sans-serif;
  font-weight: 700;
  color: #f0e4cc;
  font-size: 4rem;
}

h2 {
  font-family: "ZalandoSansExpanded", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 3.5rem;
}

div#homeTitle > h2 {
  color: #f0e4cc;
  text-align: right;
}

section.intro > div.image {
    height: 50vh;
    display: flex;
    align-items: start;
}

section.intro > div.text {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

h3 {
  font-family: "DMSans", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 2rem;
}

li {
    font-family: "DMSans", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 1.75rem;
}

section#teamList > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  div#homeCTA {
    display: flex;
    height: 50vh;
    align-items: center;
  }

  div#buttonCTA {
    display: flex;
    width: 25vw;
    height: 15vh;
    background-color: #580a97;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  div#buttonCTA a {
    font-family: "DMSans";
    color: #f0e4cc;
    text-decoration: none;
    font-size: 2rem;
    margin-inline-end: 1rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    align-content: center;
    margin-inline-start: 20px;
  }

  div#homeTitle > h1 {
    font-size: 5rem;
  }

  div#homeTitle > h2 {
    font-size: 4rem;
  }

  section.home > img {
    object-position: center 80%;
  }
}
