@import "reset.css";
@import "theme.css";

img {
    width: 100%;
    max-width: 30px;
    height: auto;
    display: block;
    margin: 0 auto 5px;
    transition: transform 0.3s;
}

.logo-box {
    border: 2px solid #ccc;
    padding: 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
    transition: background-color 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.logo-box:hover {
    background-color: orange;
}

.logo-box:hover img {
    transform: scale(1.2);
}

.logo-box[data-team-name="Lancy FC"]:hover img {
    transform: scale(1.5);
}

.logo-box h2 {
    margin: 0;
    font-size: 0.8em;
}

#teamList {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

#teamList article {
    height: 90px;
}

@media (max-width: 768px) {
    #teamList {
        grid-template-columns: repeat(4, 1fr);
    }
}