<template>
  <article>
    <!-- data-bind-attr-src="logoUrl" : Affiche le logo de l'équipe -->
    <img class="team-logo" data-bind-attr-src="logoUrl" alt="Logo">
    <!-- data-bind="teamName" : Affiche le nom de l'équipe 
    <h2 class="team-name" data-bind="teamName"></h2>
     data-bind="uploadedAt" : Affiche la date de téléversement 
    <p class="team-date" data-bind="uploadedAt"></p>
     data-bind="author" : Affiche l'auteur 
    <p class="team-author" data-bind="author"></p>
     data-bind="teamName" : Affiche le nom de l'équipe-->
  <h2 class="team-name" data-bind="teamName"></h2>
  </article>
</template>